:root {
  --primary-background-color: #c8bce439;
  --secondary-background-color: rgb(233, 231, 231);
  --primary-text-color: #40424a;
  --secondary-text-color: #808181;
  --box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
}

body {
  font-family: "Josefin Sans", sans-serif;
  color: #40424a;
}

h1 {
  color: var(--primary-text-color);
  font-size: 120px;
}

h2 {
  color: var(--primary-text-color);
  font-size: 48px;
}

i {
  color: var(--primary-text-color);
}

/* SECTIONS */
.hero {
  background-color: var(--primary-background-color);
  padding: 100px;
}

.hero-text {
  font-size: 40px;
  line-height: 1.3;
  color: var(--secondary-text-color);
}

.social-profiles {
  background-color: var(--secondary-background-color);
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  grid-column-gap: 40px;
}

.social-profiles i {
  padding-left: 100px;
}

.social-profiles hr {
  color: var(--primary-text-color);
  border: 1px solid;
  padding-left: 0;
}
.social-profiles h2 {
  padding-left: 80px;
}

.skills h2 {
  padding: 100px;
  text-decoration: underline;
}
.skill-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 30px;
  justify-items: center;
}

.skill-icons img {
  width: 100px;
}

.skill-icons figcaption {
  text-align: center;
  font-size: larger;
  padding-top: 10px;
}

/* rotate react icon */
.rotate {
  animation: rotation 8s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
